<!DOCTYPE html>

<html>
    
    <head>
        <meta charset="utf-8">
        <title>World weather</title>
        {{> styles}}        
    </head>

    <body>

        <h2>World weather</h2>

        <form action="/place" id="fileupload" method="GET">
            <label for="loc">Enter location</label>
            <input type="text" id="loc" name="loc" placeholder="type address, city or ZIP">
            <br>
            <button type="submit" value="Submit">Submit</button>
        </form>

         <br>

        {{> report}}

        {{> errorMess}}   

        <p id="footer">Created by badamec - Copyright {{getCurrentYear}}</p>

    </body>

</html>
