<!DOCTYPE html>

<html>
    
    <head>
        <meta charset="utf-8">
        <title>World weather</title>
        {{> styles}}
        <link rel="stylesheet" href="css/skeleton.css">        
    </head>

    <body>

        <h5>World weather</h5>

        <form action="/place" id="fileupload" method="GET">
            <label for="loc">Enter location</label>
            <input class="u-full-width" type="text" id="loc" name="loc" placeholder="type address, city or ZIP" required>
            <br>
            <button type="submit" value="Submit">Submit</button>
        </form>

         <br>

        {{#if locationReport}}
            {{> report}}
        {{/if}}

        {{#if error}}
            {{> errorMess}}  
        {{/if}}
         
        <p id="footer">Created by badamec - Copyright {{getCurrentYear}}</p>

    </body>

</html>
